/* Login.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-box {
    background-color: #333;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
    color: white;
    max-width: 400px;
    width: 100%;
    text-align: center; /* Center-align text within the box */
  }
  
  .login-box h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .login-box label {
    display: block;
    text-align: left; /* Align labels to the left */
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  
  .login-box input {
    width: 90%; /* Slightly smaller than full width to give padding on the sides */
    padding: 0.75rem;
    border-radius: 10px;
    border: none;
    margin: 0 auto 1rem auto; /* Center-align with auto margin */
    background-color: #444;
    color: white;
    font-size: 1rem;
    display: block; /* Ensure the input is block-level to respond to margin:auto */
  }
  
  .login-box button {
    width: 90%;
    padding: 0.75rem;
    background-color: #3B82F6;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 auto; /* Center-align the button */
    display: block;
  }
  
  .login-box button:hover {
    background-color: #2563EB;
  }
  
  .login-box input::placeholder {
    color: #666;
  }

  .back-button {
    margin-top: 1rem;
  }
  
  .back-button button {
    width: 90%;
    padding: 0.75rem;
    background-color: #555; /* Darker button color for Back button */
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .back-button button:hover {
    background-color: #444;
  }
 
  .forgot-password {
    margin-top: 1rem;
  }
  
  .forgot-password a {
    color: #868686;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }

