/* Application.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .application-container {
    width: 100%;
    max-width: 2000px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 10px;
    height: 100vh; /* Full viewport height */
  }
  
  .application-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .application-nav span {
    cursor: pointer;
    color: #ccc;
  }
  
  .application-nav span:hover {
    color: white;
  }
  
  .application-box {
    background-color: #333;
    padding: 5rem;
    border-radius: 10px;
    text-align: center;
  }
  
  .application-box h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .input-group {
    flex: 1;
    max-width: 300px;
  }
  
  .input-group label {
    display: block;
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 0.3rem;
    text-align: left;
  }
  
  .additional-info textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
    resize: none;
    height: 100px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow-y:scroll;
  }

  .job-posting-info label {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .job-title-info input {
    background-color: #444;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    max-width: 400px;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .job-org-info input {
    background-color: #444;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
    max-width: 400px;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .job-desc textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
    resize: none;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow-y:scroll;
  }
  
  .generate-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .generate-button:hover {
    background-color: #2563eb;
  }

  .cover-letter textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
    resize: none;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow-y:scroll;
  }

  .resume textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
    resize: none;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow-y:scroll;
  }
  
  .application-nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .application-nav button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .application-nav button:hover {
    background-color: #666;
  }